body{
    font-size: 20px;
}
#header{
    width:600px;
}
#section{
    width:600px;
}
#section .section_left{
    width:200px;
    float:left;
}
#section .section_main{
    width:390px;
    float: right;
    background:yellowgreen;
}
#section .section_right{
    display:none;
}
#footer{
    width:600px;
}